body {
    background-color: #161616;
    color: #f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#counter {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}